*
{
    padding: 0;
    margin: 0;
}

#startMenu
{
    background: orange;
    position: absolute;
    color: black;
}

#myCanvas
{
    background: #eee;
    position: absolute;
    display: block;
    margin: auto;
}