*
{
    padding: 0;
    margin: 0;
}

#menuContainer
{
    background: #eee;
    margin: 1rem;
    padding: 0.7rem;
}

#menuContainer legend
{
    text-align: center;
    padding: 0.4rem;
}

button
{
    padding: 0.2rem;
    border: 1px solid darkgray;
    border-radius: 0.2rem;
    background-color: #0095DD;
}

#myCanvas
{
    background: #eee;
    display: block;
    margin: auto;
}