*
{
    padding: 0;
    margin: 0;
}

#menuContainer
{
    background: rgb(62, 51, 51);
    color: ghostwhite;
    margin: 1rem;
    padding: 0.7rem;
}

#menuContainer legend
{
    text-align: center;
    padding: 0.4rem;
}

button
{
    padding: 0.2rem;
    border: 1px solid rgb(39, 31, 31);
    border-radius: 0.2rem;
    background-color: #dd7d00;
    color: ghostwhite;
}

#myCanvas
{
    background: rgb(43, 34, 34);
    display: block;
    margin: auto;
}